body {
    margin: 0;
    padding: 0;
}

.container {
    width: 100vw;
}

.wrapper {
    width: 62.5vw;
    margin: 0 auto;
    border: 1px solid black;
}

/* ______________________HEADER_______________________ */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3.52vh 0;
}

.header-left, .header-right {
    display: flex;
    align-items: center;
}

.header-title {
    margin-left: 1.35vw;
    font-family: "PT Sans";
    font-size: 1.6vh;
    line-height: 1.85vh;
}

.header-phone {
    margin-left: 0.47vw;
    font-family: "PT Sans";
    font-size: 1.48vh;
}
.header-search {
    margin-left: 1.6vw;
    padding: 0.5vw;
}


/* ----------------------DESCRIPTION------------------ */

.description {
    margin-top: 4.35vh;
    display: flex;
    justify-content: space-between;
}

.description-left {
    padding-top: 4.26vh;
}

.description-title {
    font-size: 5.55vh;
    line-height: 5.93vh;
    color: white;
    font-family: "Gilroy";
}

.description-menu {
    max-width: 19.53vw;
    margin-top: 5.37vw;
}
.description-menu-item {
    margin-left: 0.78vh;
}

.description-menu-content > span {
    margin-left: 0.78vh;
    font-size: 1.89vh;
    line-height: 1.89vh;
    font-family: "PT Sans";
}

.description-company .description-goods {
    margin-bottom: 2.22vh;
}

.description-products, .description-goods {
    margin-top: 2.22vh;
}

.description-menu-line {
    height: 1px;
    background: linear-gradient(to right, #4B4B4B, #26262500);
}

.description-menu-footer-item {
    width: 31px;
    height: 2px;
}

.description-menu-footer-item:not(:first-child) {
    margin-left: 0.93vh;
}

.description-right {
    position: relative;
}

.description-price {
    position: absolute;
    font-family: "PT Sans";
    font-size: 2.22vh;
    line-height: 2.22vh;
    padding: 1.38vh;
    background-color: #FF7028;
    color: white;
    top:28.43vh;
    left: 6.3vw;
}

.description-tap {
    display: block;
    max-height: 51.1vh;
}
/*---------------------- COLORS ---------------------- */

.light-gray-1 {
    color: #999999;
}
.light-gray-2 {
    color: #939393;
}
.light-gray-3 {
    color: #BEBEBE;
}
.light-gray-text {
    color: #7B7B7B;
}

.light-gray-back {
    background-color: #F6F6F6;
}

.gray-back {
    background-color: #575757;
}
.gray-border {
    border: 1px solid #494949;
}

.orange {
    color: #FE5B00;
}

.orange-back {
    background-color: #FF7028;
}

.dark-gray {
    color: #151716;
}

.dark-gray-back {
    background-color: #060707D9;
}

.dark-gray-back-2 {
    background-color: #202122;
}